* {
  box-sizing: border-box;
}

.background  {
  width: 800px;
  height: 800px;
}

#background-image {
  width: 800px;
  height: 800px;
  position: absolute;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  height: 50px;
  font-size: 36px;
  margin: 10px;
}

div.grid {
  width: 800px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  background-image: url('../images/background.png')
}

div.square {
  height: 80px;
  width: 80px;
  border: solid 1px black;
}

div.ship {
  /* background-color: green; */
  background-image: url('../images/ship.png');
  background-size: 100%;
}

div.alien {
  /* background: red; */
  background-image: url('../images/enemy4.png');
  background-size: 100%;
}

div.missile {
  /* background: yellow; */
  background-image: url('../images/missile.png');
     background-size: 30%;
     background-repeat: no-repeat;
     background-position: right 28px bottom 10px;


}

#ship-image {
  width: 50px;
  height: 50px;
  margin-top: 700px;
  margin-left: 400px;
  position: absolute;
}

#alien-image {
  width: 50px;
  height: 50px;
  margin-top: 50px;
  margin-left: 400px;
  position: absolute;
}

#missile-image {
  position: absolute;
  margin-top: 690px;
  margin-left: 417px;
}
