* {
  box-sizing: border-box;
}

head, body {
  font-family: 'Bungee Inline', cursive, sans-serif;
}

.background  {
  width: 800px;
  height: 800px;
}

#background-image {
  width: 800px;
  height: 800px;
  position: absolute;
}

body {
  padding: 0;
  margin: 0;
}

h1 {
  height: 50px;
  font-size: 36px;
  margin: 10px;
  color: yellow;
}

#score {
  color: red;
  font-size: 36px;
  margin-top: 36px;
}

div.grid {
  width: 800px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
}

div.square {
  height: 80px;
  width: 80px;
}

div.ship {
  background-image: url('../images/ship2.png') !important;
  background-size: 100% !important;
  background-repeat: no-repeat;
}

div.alien {
  background-image: url('../images/enemy4.png') !important;
  background-size: 100% !important;
}

div.missile {
  background-image: url('../images/missile.png');
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: right 28px bottom 10px;
}

div.alien_missile {
  background-image: url('../images/alien_missile.png');
  background-size: 30%;
  background-repeat: no-repeat;
  /* background-position: right 28px bottom 10px; */
}

#ship-image {
  width: 50px;
  height: 50px;
  margin-top: 700px;
  margin-left: 400px;
  position: absolute;
}

#alien-image {
  width: 50px;
  height: 50px;
  margin-top: 50px;
  margin-left: 400px;
  position: absolute;
}

#missile-image {
  position: absolute;
  margin-top: 690px;
  margin-left: 417px;
}

section {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.start-screen {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.start-screen p {
  color: red;
  font-size: 36px;
}

.logo-image {
  margin-bottom: 100px;
}

.start-screen button {
  background: black;
  font-family: 'Bungee Inline', cursive, sans-serif;
  color: yellow;
  border: 5px red solid;
  font-size: 36px;
  text-transform: uppercase;
  outline: none;
  padding: 10px 50px;
}

.game {
  display: flex;
  /* align-items: flex-start; */
  padding: 15px;
  background-image: url('..//images/starfield.png');
  display: none;
}

.image-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.left {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-left: 50px;
  margin-right: -350px;
}

.left p {
  color: white;
  font-size: 36px;
}

.middle {
  margin: 0 auto;
}

.game-over span {
  font-size: 100px;
  color: yellow;
}
.you-won span {
  font-size: 80px;
  color: yellow;
}

.you-won p {
  margin: auto;
  margin: 20px;
}

.game-over {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background: black;
  color: white;
  display: none;
}

.you-won {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: black;
  color: white;
  display: none;
}

.you-won-box {
  border: 5px solid blue;
  text-transform: uppercase;
  font-size: 36px;
  padding: 50px 100px;
  margin-bottom: 20px;
}

.you-won button {
  background: black;
  font-family: 'Bungee Inline', cursive;
  color: white;
  border: 5px blue solid;
  font-size: 28px;
  text-transform: uppercase;
  outline: none;
  padding: 10px 50px;
}

.game-over-box {
  border: 5px solid blue;
  text-transform: uppercase;
  font-size: 36px;
  padding: 50px 100px;
  margin-bottom: 20px;
}

.game-over-box button {
  background: black;
  font-family: 'Bungee Inline', cursive;
  color: white;
  border: 5px blue solid;
  font-size: 36px;
  text-transform: uppercase;
  outline: none;
  padding: 10px 50px;
}

button {
  cursor: pointer;
}

#game-over-score {
  color: red;
}

#you-won-score {
  color: red;
}

#lives {
  font-family: 'Bungee Inline', cursive;
  color: white;
  font-size: 36px;
}

#you-won-text {
  color: red;
  font-size: 80px;
}
