* {
  box-sizing: border-box;
}

.background  {
  width: 800px;
  height: 800px;
}

#background-image {
  width: 800px;
  height: 800px;
  position: absolute;
}

body {

  padding: 0;
  margin: 0;
}

h1 {
  height: 50px;
  font-size: 36px;
  margin: 10px;
  color: yellow;
}

#score {
  color: red
}

div.grid {
  width: 800px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  background-image: url('../images/background.png')
}

div.square {
  height: 80px;
  width: 80px;
  border: solid 1px black;
}

div.ship {
  background-image: url('../images/ship.png');
  background-size: 100%;
}

div.alien {
  background-image: url('../images/enemy4.png');
  background-size: 100%;
}

div.missile {
  background-image: url('../images/missile.png');
     background-size: 30%;
     background-repeat: no-repeat;
     background-position: right 28px bottom 10px;
}

#ship-image {
  width: 50px;
  height: 50px;
  margin-top: 700px;
  margin-left: 400px;
  position: absolute;
}

#alien-image {
  width: 50px;
  height: 50px;
  margin-top: 50px;
  margin-left: 400px;
  position: absolute;
}

#missile-image {
  position: absolute;
  margin-top: 690px;
  margin-left: 417px;
}

section {
  height: 100vh;
  width: 100vw;
  /* position: absolute; */
}

.start-screen {
  /* z-index: 1; */
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.start-screen p {
  color: red;
  font-size: 36px;
}

.logo-image {
  margin-bottom: 100px;
}

button {
  background: black;
  color: yellow;
  border: 2px red solid;
  font-size: 36px;
  text-transform: uppercase;
  outline: none;
  padding: 10px 50px;
}

.game {
  display: flex;
  align-items: center;
  background: black;
}

.middle {
  margin: 0 auto;
}

.game-over {
  background: pink;
}
